* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Parabole";
  color: #000000;
}

@font-face {
  font-family: "Parabole";
  src: url(./Parabole.ttf);
  font-weight: 400;
  font-style: normal;
}

.main {
  background-color: rgb(0, 0, 0);
  position: relative;
}

.hero-section {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: #ffffffb0;
  /* clip-path: polygon(
    50% 0%,
    100% 0,
    100% 43%,
    100% 90%,
    81% 90%,
    69% 100%,
    0 100%,
    0 20%,
    22% 0
  ); */
  z-index: 1;
}

.view-1 {
  font-weight: 500;
  position: absolute;
  bottom: 200px;
  z-index: 2;
  font-size: 7.5rem;
  letter-spacing: 20px;
  color: white;
  padding: 2px 2px;
  bottom: 50px;
  background-color: #2228315e;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.hero-section h1 span {
  display: block;
}

.hero-img {
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
  object-fit: cover;
}

.nav-bar {
  position: absolute;

  height: 100px;
  width: 100%;
  color: white;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.411);
  padding: 10px;
  backdrop-filter: blur(5px);
}

.menu-items {
  display: flex;
  gap: 15px;
  font-size: 30px;
  padding: 10px;
}
.menu-item-btn1,
.menu-item-btn2 {
  border: 2px solid rgb(255, 255, 255);
  padding: 2px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.menu-item-btn1:hover {
  background-color: #ffffff;
  color: black;
}
.menu-item-btn2:hover {
  background-color: #ffffff;
  color: black;
}

.logo {
  height: 70px;
  width: 75px;
  padding-top: 2px;
  padding-left: 3px;
}

.elems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elems ul {
  display: flex;
  font-size: 15px;
}
/* ////////////////// End of HERO AND NAV //////////////// */

.description-p1 {
  height: 100vh;
  width: 50vw;
  padding: 30px 20px;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  color: #ffffff;
  gap: 15px;
}

.dp-1 h2 {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-weight: 100;
  width: 500px;
  font-size: 1.4rem;
}

.dp-11 p {
  font-family: "Arial";
  width: 320px;
  font-weight: 100;
}

.dp-2 {
  /* padding-top: 100px; */
  font-size: 4rem;
  height: 100vh;
  width: 50vw;
  text-align: right;
  margin-top: 100px;
  margin-left: 800px;
}

/* /////////////// END OF MIDDLE DESCRIPTION //////////// */

.view-2 {
  font-weight: 500;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 200px;
  z-index: 2;
  font-size: 7.5rem;
  letter-spacing: 10px;
  color: white;
  padding: 2px 2px;
  bottom: 50px;
  background-color: #2228315e;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.hero-img-2 {
  height: 100vh;
  width: 100%;
  filter: brightness(0.5);
  object-fit: cover;
}

.canvas {
  margin-left: 800px;
}

/* ////////////////////END OF CANVAS SECTION ////////////// */

.runner {
  height: 100vh;
  width: 100%;
  margin-top: 200px;
}

.title-idea {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 2rem;
  margin-bottom: 120px;
}

.ron-pic {
  height: 40vh;
  width: 25vw;
  max-width: 100%;
  border-radius: 5px;
  filter: brightness(0.7);
  clip-path: polygon(
    35% 0,
    66% 0,
    89% 11%,
    89% 37%,
    100% 49%,
    100% 83%,
    83% 100%,
    36% 100%,
    24% 86%,
    7% 86%,
    0 67%,
    0% 0%
  );
}

.moving-text {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}

.moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation: move;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moving-text img {
  display: inline-block;
}

#gola {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  margin: 9vw 1vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* ///////// END OF ANIMATION SECTION ///////////// */

.footer {
  height: 900px;
  width: 100%;
  padding-top: 40px;
  background-image: linear-gradient(to bottom, #6710ca21 70%, #0000003b 100%);
}

.footer h1 {
  color: #ffffff;
  font-size: 35rem;
  font-weight: 100;
  padding-left: 100px;
}

footer {
  background-color: #00000042;
  color: #fff;
  padding: 20px 0;
  font-family: "Roboto";
  backdrop-filter: blur(15px);
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid grey;
}

.footer-content h4 {
  padding: 3px;
}
